pip install djangorestframework
pip install django-filter
pip install django-oauth-toolkit
pip install django-cors-headers
pip install django-extensions
pip install django-rest-framework
pip install django
pip install dj-database-url
pip install asgiref
pip install certifi
pip install cffi
pip install chardet
pip install charset-normalizer
pip install cryptography
pip install Deprecated
pip install idna
pip install jwcrypto
pip install oauthlib
pip install pkg_resources
pip install pycparser
pip install pytz
pip install requests
pip install six
pip install sqlparse
pip install typing-extensions
pip install urllib3
pip install whitenoise
pip install wrapt




djangorestframework==3.12.4
django-filter==2.4.0
django-oauth-toolkit==1.5.0
django-cors-headers==3.7.0
django-extensions==3.1.3
django-rest-framework==0.1.0
dj-database-url==0.5.0


asgiref==3.4.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cryptography==3.4.7
Deprecated==1.2.12
idna==3.2
jwcrypto==1.0
oauthlib==3.1.1
pkg_resources==0.0.0
pycparser==2.20
pytz==2021.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
whitenoise==5.3.0
wrapt==1.12.1



